* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*版心*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.banner {
  margin-bottom: 40px;
  background-image: url(https://ilearn2.fcu.edu.tw/theme/image.php/essential/theme/1645687537/bg/header);
}
.banner img {
  display: flex;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 100px;
  background-color: #99000f;
  z-index: 20;
  transition: top 0.375s ease;
}
.navbar-active {
  position: fixed;
  top: 0;
  background-color: #99000f;
  z-index: 20;
  width: 100%;
  transition: top 0.375s ease;
}
.navbar-in {
  margin: 0 auto;
  height: 40px;
}
.navbar a,
.navbar-active a {
  float: left;
  display: block;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  font-family: FontAwesome;
}
.navbar-in .f015::before {
  content: "";
  float: left;
  display: block;
  background-image: url("./img/212954_f015_icon.png");
  background-size: 26px 26px;
  background-position: -3px 6px;
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
}
.nav {
  float: left;
  position: relative;
  height: 40px;
}
.nav > li {
  float: left;
}
.nav > li > a {
  padding-left: 22px;
  font-size: 14px;
  font-family: Verdana;
}
.nav > li > a::after {
  content: "";
  float: right;
  display: block;
  background-image: url("./img/213127_f0da_icon.png");
  background-size: 20px 18px;
  background-position: -3px 12px;
  background-repeat: no-repeat;
  width: 26px;
  height: 40px;
}
.nav > li > a:hover::after {
  background-image: url("./img/213127_f0da_icon\ -\ 複製.png");
  background-size: 16px 18px;
  background-position: 0px 10px;
}
.nav .f024::before {
  content: "";
  float: left;
  display: block;
  background-image: url("./img/212967_f024_icon.png");
  background-size: 17px 17px;
  background-position: -2px 12px;
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
}
.nav .f024:hover::before {
  background-image: url("./img/212967_f024_icon (2).png");
}
.nav ul {
  position: absolute;
  display: none;
  top: 40px;
  padding: 5px 0px 5px 0;
  border: 1px solid #99000f;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
}
.nav ul::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 14px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.nav ul li {
  padding-right: 24px;
  cursor: pointer;
}
.nav ul a {
  float: none;
  display: inline-block;
  margin: 3px 25px 3px 15px;
  color: #943b21;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
  font-family: Verdana;
  white-space: nowrap;
}
.nav .flang a::before {
  content: "";
  float: left;
  display: block;
  margin-right: 5px;
  background-image: url("./img/1608752_language_icon.png");
  background-size: 16px 16px;
  background-position: -2px 0px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.nav .flang a:hover::before {
  background-image: url("./img/1608752_language_icon (2).png");
}
.login {
  float: right;
  display: block;
}
.login:hover {
  background-color: white;
}
.login a {
  padding: 0px 15px;
  color: white;
  font-size: 14px;
  line-height: 40px;
}
.login a:hover {
  color: #99000f;
}
.login a::before {
  content: "";
  float: left;
  display: block;
  background-image: url("./img/213069_f090_icon.png");
  background-size: 18px 18px;
  background-position: -2px 12px;
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
}
.login a:hover::before {
  background-image: url("./img/213069_f090_icon\ \(2\).png");
}
.prev,
.next {
  position: absolute;
  top: 280px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.6;
}
.prevbig,
.nextbig {
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(2);
  opacity: 0;
}
.prev {
  left: 364px;
  background-image: url("./img/213212_f137_icon.png");
  background-size: 70px 70px;
  background-position: -7px -7px;
  background-repeat: no-repeat;
}
.next {
  right: 364px;
  background-image: url("./img/213212_f137_icon - 複製.png");
  background-size: 70px 70px;
  background-position: -7px -7px;
  background-repeat: no-repeat;
}
.cont {
  padding-top: 10px;
}
.slider {
  width: 1200px;
  height: 378px;
  overflow: hidden;
}
.slides {
  width: 1600%;
  height: 378px;
  display: flex;
  padding: 7px 20px;
}
.slides input {
  display: none;
}
.slide {
  position: relative;
  transition: 0.5s;
  display: flex;
  width: 1200px;
}
.bleft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 465.98px;
  height: 368px;
  padding-left: 81.2px;
}
.bleft h4 {
  margin: 10px 0;
  color: #000;
  line-height: 32px;
  font-size: 32px;
  font-weight: 700;
}
.bleft p,
.bleft b {
  margin: 0 0 10px;
  line-height: 1;
  font-size: 20px;
}
.bright {
  position: absolute;
  right: 30px;
  display: flex;
  justify-content: center;
  height: 368px;
  padding: 0 33.2125px;
}
.bright img {
  margin: 9px 5px 0 -8px;
  padding: 8px;
  width: 608px;
  height: 349px;
  box-shadow: 0 0 8px #222;
  background-color: white;
}
.img10 {
  width: 613.83px !important;
  height: 348.8px !important;
}
.img14 {
  position: relative;
  right: 62px;
  width: 487.33px !important;
}
.img15 {
  position: relative;
  right: 76px;
  width: 460px !important;
}
.img16 {
  position: relative;
  top: 73px;
  left: 5px;
  width: 613.83px !important;
  height: 203.63px !important;
}
.manual {
  position: absolute;
  margin-top: -362px;
  margin-left: 950px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px #30add1;
  border-radius: 4px;
  padding: 2px 5px 2px 0px;
  z-index: 2;
}
.manual-label {
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #30add1;
  transition: 1s;
}
.active {
  background-color: #217a94;
}
#radio0:checked ~ .first {
  margin-left: 0;
}
#radio1:checked ~ .first {
  margin-left: -1202px;
}
#radio2:checked ~ .first {
  margin-left: -2402px;
}
#radio3:checked ~ .first {
  margin-left: -3602px;
}
#radio4:checked ~ .first {
  margin-left: -4802px;
}
#radio5:checked ~ .first {
  margin-left: -6002px;
}
#radio6:checked ~ .first {
  margin-left: -7202px;
}
#radio7:checked ~ .first {
  margin-left: -8402px;
}
#radio8:checked ~ .first {
  margin-left: -9602px;
}
#radio9:checked ~ .first {
  margin-left: -10802px;
}
#radio10:checked ~ .first {
  margin-left: -12002px;
}
#radio11:checked ~ .first {
  margin-left: -13202px;
}
#radio12:checked ~ .first {
  margin-left: -14402px;
}
#radio13:checked ~ .first {
  margin-left: -15602px;
}
#radio14:checked ~ .first {
  margin-left: -16802px;
}
#radio15:checked ~ .first {
  margin-left: -18002px;
}
.page-content {
  margin-top: 10px;
}
.side {
  float: right;
  margin-left: 30.762px;
}
.login-interface {
  display: block;
  padding: 6px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  width: 276.913px;
  height: 308.612px;
}
.l-i-head {
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.login-interface h2 {
  float: left;
  font-size: 16.1px;
  font-weight: 400;
  line-height: 26px;
}
.login-interface h2::before {
  content: "";
  float: left;
  display: block;
  background-image: url("./img/212941_f007_icon.png");
  background-size: 26px 26px;
  background-position: -4px -2px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}
.l-i-headr {
  float: right;
  padding: 3px 15px;
}
.l-i-headr ::before {
  content: "";
  float: left;
  display: block;
  background-image: url("./img/213227_f147_icon.png");
  background-size: 17px 17px;
  background-position: -2px 1px;
  background-repeat: no-repeat;
  width: 22px;
  height: 18px;
  cursor: pointer;
}
.l-i-content {
  padding: 4px 0;
}
.l-i-footer {
  display: block;
  margin: 10px 0;
  border: 1px solid #30add1;
  border-radius: 4px;
  padding: 4px 12px;
  text-align: center;
}
.l-i-content label {
  display: block;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
#username,
#passward {
  margin-bottom: 10px;
  padding: 4px 6px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  width: 100%;
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
  outline: none;
}
.submit {
  display: block;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #30add1;
  border-radius: 4px;
  padding: 4px 12px;
  text-align: center;
  color: white;
  background-color: rgb(153, 0, 15);
  cursor: pointer;
}
.main {
  float: left;
}
.main-content {
  margin-bottom: 20px;
  padding: 2px 10px 22px 10px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  width: 892.3px;
  height: 666.2px;
}
.main-content li {
  padding: 2.8px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}
.a {
  color: #943b21;
}
.a:hover {
  color: #2d70fa;
}
p {
  color: #000;
}
.p1 {
  margin: 14px 0 0 30px;
  padding-bottom: 2px;
}
.site-news-forum {
  padding-top: 25px;
  background: url(https://ilearn2.fcu.edu.tw/theme/image.php/essential/theme/1645687537/bg/dot)
    left top repeat-x;
}
.site-news-forum h2 {
  margin: 10px 0 9px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}
.site-news-forum table {
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  border-spacing: 5px;
  width: 100%;
}
.site-news-forum th {
  padding: 1px;
  text-align: left;
  background-color: white !important;
}
tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}
tr:nth-child(even):hover {
  background-color: rgb(245, 245, 245);
}
tr a:hover {
  color: #000;
}
.black {
  color: #000;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}
.brown {
  color: #943b21;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}
.footer {
  background-color: rgba(153, 0, 15, 0.95);
  border-top: 2px solid #99000f;
  border-bottom: 3px solid #99000f;
}
.footer-text {
  margin-top: 60px;
}
.footer-text hr {
  border-top: 1px solid #2d70fa;
  margin-bottom: 20px;
}
.footer-text span {
  display: block;
  padding-bottom: 5px;
  text-align: center;
  line-height: 15px;
  font-weight: 400;
  font-size: 14px;
  color: #ddd;
}
.footer-text p {
  margin-bottom: 10px;
  text-align: center;
  line-height: 15px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.footer-text a {
  color: rgb(125, 159, 211);
}
.footer-text2 a {
  display: block;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #bbb;
}
.footer-text2 a:hover {
  color: white;
}
